.count {
  text-align: center;
  margin-top: 100px;
}

.count h1 {
  font-size: 3em;
  margin: 20px 0;
}

.buttons button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  opacity: 0.8;
}