.products {
  text-align: center;
  margin-top: 50px;
}

.card {
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 15px;
  width: 250px;
  border-radius: 5px;
}


/* Container for cards */
.products-container {
  display: flex;
  justify-content: center;   /* centers horizontally */
  flex-wrap: wrap;           /* allows wrapping */
  gap: 20px;                 /* space between cards */
}